* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #636b2f;
}

.main-container {
  color: #3d4127;
  background: #d4de95;
  width: 350px;
  min-height: 300px;
  text-align: center;
  /* display: flex; */
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  border-radius: 10px;
  border: white 3px solid;
}
h2 {
  font-size: 30px;
  padding-top: 50px;
}
#quote {
  padding-top: 30px;
  font-weight: 500;
  font-size: 25px;
}
.btn {
  padding-top: 55px;
  display: flex;
  justify-content: space-around;
}
button {
  padding: 10px;
  border-radius: 5px;
  font-size: small;
}
button:active {
  background-color: #f4f4ae;
}

.add-task-container {
  background: #d4de95;
  color: #3d4127;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  width: 350px;
  border-radius: 10px;
  border: white 3px solid;
}
#task-form {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
label {
  font-size: 25px;
  font-weight: bolder;
  margin-bottom: 2px;
}
#task,
#deadline {
  text-align: center;
  height: 40px;
  border: black solid 1px;
  border-radius: 5px;
}

#done {
  margin-left: 200px;
}

.view-task {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #d4de95;
  color: #3d4127;
  min-height: 250px;
  min-width: 380px;
  border-radius: 5px;
  border: white solid 3px;
}
table {
  border: white solid 2px;
  border-radius: 5px;
  margin-top: 20px;
  text-align: center;
}
td,th {
  padding: 10px;
}

.btn-sec {
  padding-top: 50px;
  padding-bottom: 20px;
  min-width: 350px;
  display: flex;
  justify-content: space-between;
}
.none {
  display: none;
}
